.rules_container {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 20px;
}

#rules {
  background-color: #fff;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn_afficher_theme {
  display: none;
  text-align: center;
}

/* Media query for responsive mobile */
@media (max-width: 768px) {
  .rules_container {
    grid-template-rows: auto 1fr auto; /* Utilisation de la grille pour le positionnement */
  }

  .btn_afficher_theme {
    display: block; /* Afficher le bouton en mode responsive mobile */
    grid-row: 2; /* Positionner le bouton dans la deuxième rangée de la grille */
  }
}
.rule {
  margin-bottom: 5px;
}

.rule p,
.rule ul {
  margin-top: 10px;
  margin-bottom: 10px;
}
