.authentication_container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color:#fff;
  border-radius: 20px;
  height: auto;
}

.authentification_input{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.inscription-link {
  display: flex;
  align-items: center;
}

.inscription-link > p {
  margin: 0;
  font-size: 14px;
  padding-right: 5px;
}

.inscription-link a {
  color: rgb(237, 151, 38);
  font-weight: bold;
}

.btn {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.authentication-container p {
  margin: 0;
}
/* Media Queries */
@media screen and (max-width: 600px) {
  .inscription-link {
    justify-content: flex-end;
  }

  .inscription-link > p {
    display: none;
  }

  .inscription-link a {
    display: none;
  }

  .inscription-link .btn {
    display: inline-block;
  }
}

/* Media Queries */
@media screen and (max-width: 600px) {
  .inscription-link {
    justify-content: flex-end;
  }

  .inscription-link > p {
    display: none;
  }

  .inscription-link a {
    display: none;
  }

  .inscription-link .btn {
    display: inline-block;
  }
}

@media screen and (min-width: 601px) {
  .inscription-link .btn {
    display: none;
  }

  .inscription-link > p {
    display: inline-block;
  }

  .inscription-link a {
    display: inline-block;
  }
}
