.authentification_container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.authentification_label {
  display: block;
  margin: 1rem 0;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-container button {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.btn-container .btn-primary {
  background-color: red;
}

.btn-container .btn-secondary {
  background-color: #6c757d;
}

/* -------------------------------------Media Queries------------------------------- */

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}