.container_modif_profil {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
  }
  
  .form_modif_profil {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
  }
  
  p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
  }
  
  .form-group {
    margin-top: 10px;
  }
  
  .modif_profil_label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  @media screen and (max-width: 768px) {
    .form_modif_profil {
      max-width: 80%;
    }
  }
  